<section aria-labelledby="data-title">

    <h2 id="data-title">Project Data</h2>

    <table>

        <caption>Project status information</caption>

        <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Owner</th>
                <th scope="col">Status</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>Website Redesign</td>
                <td>Rahul</td>
                <td>Completed</td>
            </tr>

            <tr>
                <td>Mobile Application</td>
                <td>Anita</td>
                <td>In Progress</td>
            </tr>

        </tbody>

    </table>

</section>
